.cs-card {
    display: block;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
}

.cs-card .cs-name {
    margin: 0;
    font-size: 15px;
    padding: 10px 10px;
    font-weight: bold;
    color: #666666bd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
}

.cs-card .cs-body {
    min-height: 40px;
}